.single-team:hover .team-details {
  opacity: 1;
}

.single-team {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  overflow: hidden;
  width:11.5rem;
  height:22rem;
  background:#f1f1f1;
  margin-bottom:2rem;
  margin-left:5rem;
  margin-right:5rem;


  

}
.single-partner{
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  background: #ffffff;
  overflow: hidden;
}
.single-partner:hover{
  transform: scale(1.25);
}

.single-partner img {
  width: 100%;
}

.single-partner .partner-inner {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-partner .partner-details {
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0px;
  background: #f1f1f1;
  padding: 10px;
}

.single-partner .partner-details .partner-title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.single-partner .partner-details p {
  color: #333;
  height:2rem;
  width:2rem;
}

.single-team img {
  width: 100%;
}

.single-team .team-inner {
  /
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-team .team-details {
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0px;
  background: #f1f1f1;
  padding-top:1rem;
  
}

.single-team .team-details .team-title {
 
  height: 2rem;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: #333;
}

.single-team .team-details p {
  color: #333;
  font-size: 0.9rem;
  height:2.5rem;
  
}

.single-team .social-list li {
  display: inline-block;
}


.single-team .social-list li a {
  display: block;
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  margin: 2px;
  color: #61D2B4;
  font-size: 14px;
  background: #fff;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.single-team .social-list .facebook a:hover {
  background: #4867aa;
  color: #fff;
}

.single-team .social-list .twitter a:hover {
  background: #1da1f2;
  color: #fff;
}

.single-team .social-list .google-plus a:hover {
  background: #dd4d42;
  color: #fff;
}

.single-team .social-list .linkedin a:hover {
  background: #007bb6;
  color: #fff;
}


.flip-card {
  background-color: transparent;
  width: 11.5rem;
  height: 180px;
  /* margin-right:2rem; */

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: justify;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #61D2B4;
  padding-top:60px;
  transform: rotateY(180deg);
  text-align: center;
  text-decoration: none;
  
}
.flip-card-back a{
  color: white;
}
.flip-card-back a:hover{
  color: blue;
}